body{
    width: 80%;
    margin:auto;
}

.top{
    background-color: red;
}

.feature{
    background-color: yellow;
}

.latest{
    background-color: blue;
}

.collections{
    background-color: aqua;
}

ul{
    text-align: center;
}

li{
    list-style-type: none;
    display: inline-block;
}

h1{
    text-align: center;
}

.border{
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-info{
    background-color: antiquewhite;
}

.bottom-top{
    background-color: rgba(255,200,41,0.8);
}

.search{
  display:inline-block;
}

.search-menu{
    border: 1px solid white;
    color: white;
}