body{
    width: 70%;
    margin:auto;
    min-width: 60%;
}

.top{
    background: url("../images/oldcar.jpg") no-repeat;
    background-size: cover;
    min-height:680px;
}

h4{
    color:white;
}

p{
    font-family: 'Open Sans', sans-serif;
}


li{
    list-style-type: none;
    display: inline-block;
}

h1{
    text-align: center;
}

.border{
    position: relative;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-info{

}

.bottom-top{
    background-color: rgba(255,200,41,0.8);
}

.search{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    padding: 0 0 20px 0;
}
.search-menu{
    display: flex;
    align-items: center;
    border: 1px solid white;
    color: white;
    height: 40px;
    width: 170px;
    justify-content: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: black;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: white;
    cursor: pointer;
    border-radius:90px;
}

.top-bottom{
    border-top:1px solid rgba(186,186,186,1);
    border-bottom:1px solid rgba(186,186,186,1);
    background-size: cover;
    padding:30px;
}

.feature-border{
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    padding:30px;
    height:260px;
}

.navone {
    border: 1px solid rgba(197, 158, 71, 1);
    padding: 5px 10px 5px 10px;
}

.feature-bottom-border {
    border: 1px solid rgba(197, 158, 71, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    background-color: rgb(2, 2, 67);
    color: white;
    width: 8em;
    height: 3em;
    font-size: 18px;
}

.feature-bottom{
    display: flex;
    flex-direction: row;
}

.feature-bottom-down{
    width: 17.1vw;

}

.newsletter-centered{
    position: absolute;
    transform: translate(50%, -250%);
    color: white;
}

.head{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}

nav{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.logo{
    transform: translate(70%, -50%);
}

a{
    margin: 0 25px;
    color: black;
    text-decoration: none;
}

.top-text{
    color:white;
    transform: translate(10%, 80%);
}

.collections{
    text-align: center;
}

.collections-top{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.strip{
    border: 2px solid black;
    width: 50px;
    display: flex;
    transform: translateX(1180%);
    margin-top: 80px;
    margin-bottom: 40px;
}

.footer{
    display:flex;
    justify-content: space-around;
    color: white;
    background: black;
    height: 30px;
    font-size: 12px;
}

.sort{
    margin: 80px auto;
    text-align: center;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

span{
    color: #c2993f;
}

.subs{
    border: 1px solid white;
    padding: 10px 40px;
    font-size: 32px;
    letter-spacing: 8px;
}

h5{
    font-size: 26px;
    display: inline-block;
    padding-right: 246px;
    border-bottom: 2px solid white;
}

h2{
    font-size: 16px;
}
.img{
    background: url("../images/featurporch.jpg") no-repeat;
    background-size: 100%;
}

.img-two{
    background: url("../images/featurporch1.jpg") no-repeat;
    background-size: 100%;
}

.pfeature{
    font-size: 12px;
}